/*MY SPECIAL COLOR*/
.mycity {
  font-family: "Josefin Sans";
  letter-spacing: 5px;
  -webkit-text-stroke-width: 2px;
  -moz-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  -moz-text-stroke-color: white;
  color: transparent !important;
  text-transform: uppercase;
  text-decoration-thickness: 3px;
  /* margin-top: 15px;*/
}

.myspace {
  font-family: "Inter";
  letter-spacing: 5px;
  -webkit-text-stroke-width: 2px;
  -moz-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(40, 164, 241, 0.938);
  -moz-text-stroke-color: white;
  color: transparent !important;
  text-transform: uppercase;
  text-decoration-thickness: 3px;
  /*margin-top: 15px;*/
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.typing-animation {
  display: inline-block;
  overflow: hidden;
  animation: typing 2s steps(20);
  white-space: nowrap;
}

@keyframes typing-delayed {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.typing-animation-delayed {
  animation-delay: 2s;
}

.background-video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 10;
}

.mukodj {
  background-color: rgba(34, 211, 238, 0.1) !important;
}

.content2 {
  position: relative;
  z-index: 11;
  display: flex;
  align-items: start;
  justify-content: center;
 /* color: white!important;*/
  height: 100%;
  margin-top: 100px;
}

.hexagon {
  position: relative;
  width: 70px;
  height: 60px;
  background-color: #114d66; /* Tailwind sky-400 */
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 23.09px solid #38bdf8;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 23.09px solid #38bdf8;
}

